.DS_Store
text.txt 

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# dotenv environment variables file
.env

# firebase credentials
strv-addressbook-fernanda-firebase-adminsdk-wlp6o-4d21607bf5.json
test-project-44639-firebase-adminsdk-s7a7c-d5a07635eb.json

/functions
yarn-error.log
dist/